$color-green-light: #00ff7f;
$color-green-dark: #28b485;
$color-yellow-light: #ffb900;
$color-yellow-dark: #ff7730;
$color-blue-light: #2998ff;
$color-blue-dark: #5543fa;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;
